<configuration debug="true">
	# Console appender
	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		# Pattern of log message for console appender
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger : %msg%n </pattern>
		</encoder>
	</appender>

	# File appender
	<property name="LOG_FILE" value="cucumberFrameworkTests" />
	<appender name="fout" class="ch.qos.logback.core.FileAppender">
		<file>logs/${LOG_FILE}.log</file>
		<append>true</append>
		<encoder>
			# Pattern of log message for file appender
			<pattern>%d{yyyy-MM-dd HH:mm:ss} %-5p %m%n</pattern>
		</encoder>
	</appender>

	<root level="DEBUG">
		<appender-ref ref="fout" />
	</root>

	
	<logger name="com.selenium.implementation" level="warn" additivity="false">
		<appender-ref ref="stdout" />
	</logger>
	
	<logger name="com.selenium.webServices" level="warn" additivity="false">
		<appender-ref ref="stdout" />
	</logger>
	
	<logger name="com.selenium.implementation" level="debug" additivity="false">
		<appender-ref ref="fout" />
	</logger>
	
	<logger name="com.selenium.webServices" level="debug" additivity="false">
		<appender-ref ref="fout" />
	</logger>
	
</configuration>